*.exe
*.test
*.out
/{{kebab_name}}
/coverage.out
/bin
/build
/nimcache
/dist
/result
/.direnv
/.devbox
/.zig-cache
/zig-out
/target
/.venv
/.pixi
/.micromamba
/.pytest_cache
/.ruff_cache
__pycache__/
*.py[cod]
compile_commands.json
.complog
.quickfix
